.swiper {
    height: 400px;
}

.swiper-button-prev,
.swiper-button-next {
    display: none;
}

.swiper-pagination-bullet {
    width: 14px;
    height: 14px;
}

.swiper-pagination-bullet-active {
    background-color: #00a65c !important;
}
